.titulo-avi {
	text-align: center;
	margin-top: 130px;
}

.container-info {
	display: flex;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	margin-top: -150px;
	margin-left: 15%;
	width: 70%;
	/* background-color: red; */
}

.container-info p {
	font-weight: bold;
}