.titulo-campa {
  text-align: center;
  margin-top: 20px; /* Ajuste para dispositivos más pequeños */
}

/* @media screen and (max-width: 600px) {
  .titulo-campa {
    width: 300px;
    margin-top: -50px;
  }
} */

/* @media screen and ( max-width: 500px) {
  .titulo-campa {
    width: 100px;
  }
} */

.container-general-inscripcion {
  margin-top: 11vh;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Campamento/placa-campa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
  
.container-enviado {
  width: 90%;
  max-width: 500px;
  margin-top: -5vh;
  background-color: rgba(241, 240, 240, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
  
.form-inscripcion {
  margin-top: 500px;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  width: 90%;
  border: none;
  background-color: rgba(241, 240, 240, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
  
.label-inscripcion {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.input-inscripcion {
  border: 1px solid #fff;
  padding: 5px;
  width: 100%;
  background: transparent;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
}

.input-inscripcion:focus {
  background-color: #fff; /* Cambiar el color de fondo cuando el input está enfocado */
}

.input-inscripcion::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000; /* Cambiar el color del texto de marcador de posición */
}
  
  .button-submit-inscripcion {
    width: 100px;
    height: 40px;
    position: relative;
    left: 38%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #004aad;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    transition: 0.2s;
  }
  
  .button-submit-inscripcion:hover {
    transform: scale(1.05);
    background-color: #023981;
  }
  
  @media screen and (min-width: 600px) {
    .form-inscripcion {
      width: 80%; /* Reducir el ancho en dispositivos más pequeños */
      max-width: 400px; /* Ajustar el máximo ancho para dispositivos más pequeños */
      height: 600px;
      margin-top: 150px;
    }
    .container-general-inscripcion {
      height: 135vh;
    }
  }
  
  @media screen and (min-width: 730px) {
    .form-inscripcion {
      width: 500px;
    }
    .button-submit-inscripcion {
      /* left: 20%; */
    }
  }

  @media screen and (max-width: 599px) {
    .container-general-inscripcion {
      height: 170vh;
    }
    .form-inscripcion {
      margin-top: 100px;
    }
  }
