.titulo-cancionero {
	text-align: center;
	margin-top: 200px;
}

.container-buscador {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.buscador {
	font-weight: bold;
	width: 300px;
	height: 20px;
	border: none;
	border-bottom: 3px solid #46e5fd;
	/* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; */
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	color: #000;
	margin-right: 10px;
}

.icono-buscador {
	font-size: 20px;
	margin-left: -5px;
	margin-right: 20px;
    cursor: pointer;
}

#filtro {
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-bottom: 3px solid #46e5fd;
	/* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; */
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.container-buscador {
		position: relative;
		left: 25%;
		width: 50%;
	}
	.icono-buscador {
		margin-left: 5px;
	}
}

.options {
	font-weight: bold;
}

.titulo-indice {
	text-align: center;
	margin-top: 100px;
}

.txt-indice {
	border-bottom-left-radius: 5px; /* SACAR SI NO SE LE VA A PONER SUBRAYADO */
}

.container-indice-canciones {
	width: 80%;
	position: relative;
	left: 10%;
	text-align: center;
	line-height: 35px;
	backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
	border-top: 3px solid #46e5fd;
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
	border-radius: 15px;
}

.link-canciones {
	font-size: 20px;
	margin-left: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.link-canciones:hover {
	font-size: 21px;
	color: #46e5fd;
}

.container-buttons-paginacion {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

.buttons-paginacion {
	font-size: 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background: #dbdddd;
	color: #000;
	cursor: pointer;
}
