.titulo-cancionero {
	text-align: center;
	margin-top: 200px;
}

.subtitle {
	text-align: center;
}

.container-buscador {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.buscador {
	font-weight: bold;
	width: 300px;
	height: 25px;
	border: none;
	border-bottom: 3px solid #46e5fd;
	/* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; */
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	color: #000;
	margin-right: 10px;
}

.button-submit {
	border: none;
	background-color: transparent;
}

.icono-buscador {
	font-size: 20px;
	margin-left: -5px;
	margin-right: 20px;
    cursor: pointer;
}

#filtro {
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-bottom: 3px solid #46e5fd;
	/* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; */
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.options {
	font-weight: bold;
}

.container-button-cambiar {
	text-align: center;
}

.button-cambiar-coros {
	width: 100px;
	height: auto;
	margin-top: 20px;
	border: none;
	border-bottom: 3px solid #46e5fd;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.button-cambiar {
		width: 130px;
		height: 45px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		top: 80px;
	}
  }

.titulo-indice {
	text-align: center;
	margin-top: 100px;
}

.txt-indice {
	border-bottom-left-radius: 5px; /* SACAR SI NO SE LE VA A PONER SUBRAYADO */
}

.container-indice-coros {
	width: 80%;
	position: relative;
	left: 10%;
	text-align: center;
	line-height: 35px;
    background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-top: 3px solid #46e5fd;
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
	border-radius: 15px;
}

.link-coros {
	font-size: 25px;
	margin-left: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.link-coros:hover {
	font-size: 28px;
	color: #46e5fd;
}

.container-buttons-paginacion {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

.buttons-paginacion {
	width: 40px;
	font-size: 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background: #dbdddd;
	color: #000;
	cursor: pointer;
}

.texto-pag-sig-and-next {
	font-size: 20px;
}

.container-letra {
	width: 80%;
	margin-top: 50px;
	margin-left: 10%;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-top: 3px solid #46e5fd;
	border-radius: 15px;
}

@media screen and (max-width:768px) {
	.container-letra {
		margin-top: 70px;
	}
}

.titulo-cancion-select {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

.container-px-letra {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-tamaño-letra {
	position: absolute;
	margin-top: 100px;
}

.txt-tamaño-letra {
	/* position: relative; */
	font-size: 18px;
	margin-top: 40px;
}

.texto-letra-general {
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}

.texto-estribillo {
	text-align: center;
	margin-top: 60px;
}

.texto-estrofa {
	margin-top: 60px;
}

.button-volver {
	position: relative;
	top: 50px;
	/* right: -260px; */
	font-size: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s;
}

.button-volver:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 768px) {
	.container-buscador {
	  position: relative;
	  left: 25%;
	  width: 50%;
	}
  
	.icono-buscador {
	  position: absolute;
	  right: -70px;
	  top: 11%;
	  font-size: 28px;
	}

	.button-volver {
		position: relative;
		top: 0px;
		left: 43.4%;
	}

	.container-indice {
		padding: 10px;
	}

	.buscador {
		font-size: 23px;
		width: 400px;
		height: 40px;
		margin-left: 30px;
	}
  }

@media screen and (max-width: 500px) {
	.buscador {
		width: 300px;
		margin-left: 12px;
	}
}
