.container {
    width: 100%;
	height: 120vh;
    max-width: 1200px;
    margin: 0 auto;
	margin-top: 130px;
}

@media screen and (max-height: 900px) {
	.container {
		margin-bottom: 15vh;
	}
}

@media screen and (max-height: 800px) {
	.container {
		margin-bottom: 50vh;
	}
}

@media screen and (max-height: 600px) {
    /* Aumentar el margen para dispositivos más pequeños */
    .container {
        margin-bottom: 100vh;
    }
}

@media screen and (max-height: 400px) {
    /* Aumentar aún más el margen para dispositivos muy pequeños */
    .container {
        margin-bottom: 16vh;
    }
}

.container-info-ministerios {
	font-size: 18px;
	font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.dia-ministerios {
	width: 100px;
	/* border-bottom: 3px solid #46e5fd; */
}

.underline-titulo {
	border-bottom: 3px solid #46e5fd;
}

.links-ministerios {
	font-size: 19px;
	font-weight: bold;
}

.links-domingo {
	line-height: 1.8;
}

.container-martes {
	text-align: end;
}

.container-jueves {
	text-align: end;
}

.container-sabado {
	text-align: end;
}

.martes {
	width: 100%;
	text-align: end;
}

.jueves {
	width: 100%;
	text-align: end;
}

.sabado {
	width: 100%;
	text-align: end;
}