.titulo-oracion {
	margin-top: 130px;
    text-align: center;
}

.subtitulo {
	font-size: 20px;
	text-align: center;
}

.container-agradecimiento {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto-agradecimiento {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 130px;
}

.icon-corazon {
	color: rgb(255, 0, 0);
}

.formulario {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.campo {
    margin-bottom: 1rem;
}

.etiqueta {
    display: block;
    margin-bottom: 0.5rem;
}

.entrada {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
	border-radius: 10px;
	resize: none;
	outline: none;
}

.mensaje {
	height: 80px;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
	font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
	.formulario {
		width: 80%;
	}
}