/* NOTICIAS */

.titulo-noticias {
	text-align: center;
	margin-top: 100px;
}

.underline-noticias {
	border-bottom: 3px solid #46e5fd;
	border-radius: 8px;
}

.container-noticias {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.article-container {
	width: 320px;
	height: 400px;
	margin: 50px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.article-container-aux {
	width: 320px;
	height: 400px;
	margin: 50px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.article-reel {
	width: 320px;
	height: 530px; /* PARA CUANDO SI ANDA EL REEL */
	/* height: 400px; AUXILIAR PARA CUANDO NO ANDA LA CARGA DEL REEL */
	margin: 50px;
	margin-left: 35px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
	.article-reel {
		width: 90%;
	}
}

.video-player {
	margin-top: 30px;
	border: none;
	border-radius: 10px;
}

.article-video {
	width: 320px;
	height: 510px; /* PARA CUANDO SI ANDA EL REEL */
	/* height: 400px; AUXILIAR PARA CUANDO NO ANDA LA CARGA DEL REEL */
	margin: 50px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.texto-reel {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.container-img {
	padding: 15px;
}

.img-noticias {
	width: 300px;
	height: 200px;
	margin-left: -5px;
	margin-top: 0px;
	border-top: 3px solid #46e5fd;
	border-bottom: 3px solid #46e5fd;
	border-radius: 10px;
	cursor: pointer;
}

.titulo-texto-noticias {
	font-size: 20px;
	text-align: center;
}

.titulo-reel {
	font-size: 18px;
	text-align: center;
}

.texto-noticias {
	font-size: 20px;
	text-align: center;
}

.texto-noticias-aux {
	font-size: 20px;
	text-align: center;
	margin-top: 60px;
}

.link-inscripcion-campa {
	width: 150px;
	height: 40px;
	padding: 10px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background-color: #46e5fd;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.3s;
}

.link-inscripcion-campa:hover {
	background-color: #000;
	color: #fff;
}

.link-reels {
	width: 150px;
	height: 40px;
	padding: 10px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background-color: #46e5fd;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.3s;
}

.link-reels:hover {
	background-color: #000;
	color: #fff;
}

.txt-aux-reel {
	font-size: 18px;
	margin-top: 50px;
}

.link-reels-aux {
	width: 150px;
	height: 40px;
	padding: 10px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background-color: #46e5fd;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.3s;
	position: relative;
	top: 100px;
	right: 47px;
}

@media screen and (max-width: 767px) {
    .titulo-noticias {
        margin-top: -50px;
    }

    .container-noticias {
        flex-direction: column;
		justify-content: center;
        align-items: center;
    }

    .article-container {
        width: 80%;
		height: auto;
		padding: 25px;
    }

	.texto-noticias {
		text-align: center;
	}

    .img-noticias {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) {
    .container-noticias {
        justify-content: space-around;
    }
}

.fullscreen-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
  
.fullscreen-image {
	max-width: 90%;
	max-height: 90%;
	border-radius: 15px;
	/* border-top: 4px solid #46e5fd;
	border-bottom: 4px solid #46e5fd; */
	object-fit: contain;
}
  
.close-button {
    font-size: 20px;
    padding: 10px;
	border: none;
    border-radius: 100%;
    background-color: rgb(211, 210, 210);
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 15px;
    transition: 0.3s;
}

.close-button:hover {
	background-color: #000;
    color: #fff;
}

.noticia-video {
	width: 64%;
	height: 320px;
	border-radius: 15px;
	margin-top: 10px;
}

.txt-horario-noticia {
	font-weight: 700;
}

.container-noticias-2 {
	display: flex;
	justify-content: center;
}

.article-container-2 {
	width: 320px;
	height: auto;
	margin: 50px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
	.container-noticias-2 {
		display: block;
	}

	.article-container-2 {
        width: 80%;
		height: auto;
		padding: 25px;
		margin-left: 10px;
	}
}

@media screen and (min-width: 550px) {
	.article-container-2 {
		margin-left: 30px;
	}
}

.icon-youtube-aux {
	position: relative;
	top: 10px;
	left: 70px;
	animation: animation-icon-youtube 3s linear infinite;
}

@keyframes animation-icon-youtube {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
}

.icon-youtube-aux:hover {
    background: #f50808;
    color: #fff;
	cursor: pointer;
}

.titulo-aux {
	margin-top: 30px;
}

.imgs-vertical {
	width: 250px;
	height: 300px;
	border-radius: 10px;
	border-top: 4px solid #46e5fd;
	border-bottom: 4px solid #46e5fd;
	cursor: pointer;
}