.container-letra-himno {
	width: 80%;
	text-align: center;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-top: 3px solid #46e5fd;
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
	border-radius: 15px;
}

.himno {
	cursor: pointer;
	transition: 0.3s;
}

.himno:hover {
	transform: scale(1.1);
	color: #46e5fd;
}

.letra-himno {
	font-size: 20px;
	line-height: 35px;
	padding: 20px;
}

.titulo-himno {
	margin-top: -20px;
}

.title-lista-himnos {
	text-align: center;
}

.lista-himnos {
	width: 80%;
	text-align: center;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-top: 3px solid #46e5fd;
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px; */
	border-radius: 15px;
	margin-left: -30px;
	margin-bottom: 100px;
}

.button-cambiar-himnos {
	width: 130px;
	height: 45px;
	margin-top: 20px;
	border: none;
	border-bottom: 3px solid #46e5fd;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.button-cambiar-himnos:hover {
	transform: scale(1.05);
	height: 42px;
	border-bottom: 5px solid #46e5fd;
}

.container-px-letra {
	text-align: center;
	margin-top: 30px;
}

.txt-tamaño-letra {
	font-size: 18px;
	font-weight: bold;
}

.container-pagination {
	width: 50%;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 0px auto;
	transform: translateY(65px);
}

.pagination-button {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 8px;
	background-color: #d7d7d7;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.pagination-button-active {
	width: 30px;
	height: 30px;
	border: none;
	background-color: #000;
	border-radius: 10px;
	color: azure;
}