body {
	/* background-color: #eeeeee; */
	/* background-image: url("../public/916.jpg"); */
	background-image: url("../public/background/background-pagina.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

@media (max-width: 768px) {
	.titulo-ev, .titulo-viernes,
	.titulo-jov-ados, .titulo-avi,
	.titulo-domingos, .container,
	.titulo-cancionero, .titulo-contacto,
	.titulo-galeria {
		margin-top: 130px;
	}
}