.contianer-nav {
  margin-bottom: 30px;
}

.navbar,
.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 999;

  backdrop-filter: blur(14px);
  background: rgba(247, 245, 241, 0.92);

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* DESKTOP */

.desktop-navbar {
  height: 110px;

  padding: 0 6%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 110px;
  object-fit: contain;
}

/* LINKS */

.navbar-links {
  display: flex;
  gap: 54px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text);

  font-size: 1.05rem;
  font-weight: 500;

  transition: 0.3s;
  position: relative;
}

.navbar-links a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: var(--primary);
  transition: 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-links a:hover {
  color: var(--primary);
}

/* BUTTON */

.live-btn,
.mobile-live-btn {
  border: none;
  background: var(--primary);
  color: white;
  padding: 16px 30px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.3s;
  text-decoration: none;
}

.live-btn:hover,
.mobile-live-btn:hover {
  transform: translateY(-2px);
}

/* MOBILE */

.mobile-navbar {
  display: none;
}

.mobile-navbar-top {
  height: 90px;

  padding: 0 6%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  border: none;
  background: transparent;

  cursor: pointer;

  color: var(--primary);
}

/* MOBILE MENU */

.mobile-menu {
  display: flex;
  flex-direction: column;

  max-height: 0;
  overflow: hidden;

  transition: 0.4s ease;

  background: var(--bg);
}

.mobile-menu.active {
  max-height: 500px;
}

.mobile-menu a {
  padding: 22px 6%;

  text-decoration: none;
  color: var(--text);

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.mobile-live-btn {
  margin: 24px 6%;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  .navbar-logo img {
    width: 85px;
  }
}
